.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

mat-toolbar {
  height: 100px;
  background-color: white;
  box-shadow: 1px 5px 9px rgba(0,0,0,0.2);
}

.grades {
  display: flex;
  color: #6638B6;
  margin-left: 1.5rem;

  .schnitt {
    margin-right: 2rem;

    @media(max-width: 768px) {
      margin-right: 1rem;
    }
  }

  h2,p {
    margin: 0;
    text-align: center;
    line-height: 1;
  }

  h2 {
    font-size: 2.5rem;
    font-weight: normal;
  }

  p {
    font-size: 0.825rem;
  }
}

img {
  @media(max-width: 768px) {
    height: 40%;
  }
}
