<mat-toolbar>
  <mat-icon *ngIf="!open" style="cursor: pointer" (click)="navService.setNavState(true)">menu</mat-icon>
  <mat-icon *ngIf="open" style="cursor: pointer" (click)="navService.setNavState(false)">close</mat-icon>
  <div class="grades" *ngIf="showGrade">
    <div class="schnitt">
      <h2>1,9</h2>
      <p>Notenschnitt</p>
    </div>
    <div class="credits">
      <h2>120</h2>
      <p>Credits</p>
    </div>
  </div>
  <span class="example-fill-remaining-space"></span>
  <img style="max-height: 70%" src="../../assets/sogo-full.svg" alt="">
</mat-toolbar>
