<app-header></app-header>

<div class="wrapper" (click)="navService.setNavState(false)">
  <div class="card">
    <table>
      <tr>
        <th>Semester</th>
        <th></th>
        <th>{{mobile ? 'Schnitt' : 'Notendurchschnitt'}}</th>
        <th>Credits</th>
        <th>Soll Credits</th>
        <th>Summiert</th>
      </tr>
      <tbody>
      <tr>
        <td></td>
      </tr>
      <tr>
        <td>1. Semester</td>
        <td>WS 17/18</td>
        <td>1,5</td>
        <td>30</td>
        <td>30</td>
        <td>30</td>
      </tr>
      <tr>
        <td>2. Semester</td>
        <td>SoSe 18</td>
        <td>1,5</td>
        <td>30</td>
        <td>60</td>
        <td>60</td>
      </tr>
      <tr>
        <td>3. Semester</td>
        <td>WS 18/19</td>
        <td>1,5</td>
        <td>30</td>
        <td>90</td>
        <td>120</td>
      </tr>
      <tr>
        <td>4. Semester</td>
        <td>SoSe 19</td>
        <td>1,5</td>
        <td>30</td>
        <td>120</td>
        <td>120</td>
      </tr>
      <tr>
        <td>5. Semester</td>
        <td>WS 19/20</td>
        <td>1,5</td>
        <td>30</td>
        <td>150</td>
        <td>150</td>
      </tr>
      <tr>
        <td>6. Semester</td>
        <td>SoSe 20</td>
        <td>1,5</td>
        <td>30</td>
        <td>180</td>
        <td>180</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="progress" *ngIf="!mobile">
    <h3>Abschluss</h3>
    <p>210</p>
    <div class="inner-progress">
      <h3>Ihr Stand</h3>
      <p>180</p>
    </div>
  </div>
  <div class="selector">
    <div>
      <button (click)="setCreditMode(true)" [class.active]="creditMode" mat-raised-button>Credits</button>
      <button (click)="setCreditMode(false)" [class.active]="!creditMode" mat-raised-button>Notendurchschitt</button>
    </div>
  </div>
  <div class="diagram">
    <img *ngIf="creditMode" src="../../assets/credits-graph.png" alt="">
    <img *ngIf="!creditMode" src="../../assets/grades-graph.png" alt="">
  </div>
</div>
