.wrapper {
  max-width: 1440px;
  padding: 2rem 5rem 2rem 1.5rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(20px, 7fr) minmax(20px, 1.5fr);
  grid-auto-rows: auto auto auto;
  grid-row-gap: 1rem;
  grid-column-gap: 4rem;
  overflow: hidden;

  @media(max-width: 990px) {
    padding: 2rem 0.5rem 5rem 0.5rem;
    grid-column-gap: 0.5rem;
  }

  @media(max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  align-self: start;
  max-width: 800px;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  border: none;
  max-width: 800px;
}

th {
  background-color: #00A9CE;
  padding: 1rem;
  color: white;
  font-size: 1.25rem;
  text-align: center;

  @media(max-width: 768px) {
    padding: 1rem 0.25rem;
  }

  @media(max-width: 768px) {
    font-size: 0.75rem;
  }

  &:first-of-type {
    text-align: left;
  }
}

tr:nth-last-of-type(even) {
  background-color: #EFF4F5;
}

tr:nth-of-type(1) {
  td {
    padding: 1rem
  }
}

td {
  padding: 0.5rem 1rem;
  text-align: center;

  @media(max-width: 768px) {
    padding: 0.5rem 0.25rem;
  }

  &:first-of-type {
    text-align: left;
  }
}

tbody {
  margin: 1rem 0;
}

.progress {
  background-color: #00A9CE;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  color: white;
  grid-row: 1 / span 2;
  grid-column: 2 /span 1;


  h3, p {
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    word-break: break-all;
  }

  h3 {
    font-size: 1.5rem;
  }

  .inner-progress {
    position: absolute;
    width: 100%;
    height: 70%;
    background-color: #05C3DE;
    bottom: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    overflow: hidden;
  }
}

.selector {
  height: 100%;
  display: flex;
  align-items: flex-end;
  margin-top: 1rem;

  button {
    margin-right: 0.75rem;
    background-color: #E5E5E5;

    &.active {
      color: #6638B6;
    }
  }
}

.diagram {
  margin-top: 2rem;

  img {
    height: 100%;

    @media(max-width: 768px) {
      height: initial;
      width: 100%;
    }
  }
}

