@import "../../assets/vars";


.tile-wrapper {
  margin-top: 15%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(0, 0, 0, 0.1);

  @media(max-width: 768px) {
    grid-template-columns: 1fr;
    grid-row-gap: 1rem;
  }
}

.tile-left {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2rem;
  border-radius: 3px;

  img {
    max-height: 120px;
  }
  @media(max-width: 768px) {
    padding-top: 1rem;
  }
}

.tile-right {
  background-color: $purple;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  padding: 4rem 3rem;
  border-radius: 3px;
}

.mat-figure {
  flex-direction: column !important;
}

.fab-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  button {
    margin-right: 5rem;
    @media(max-width: 768px) {
      margin-right: 1rem;
    }
  }
}

.input-icon {
  transform: translateY(0.75rem);
  font-size: 1.75rem;
  margin-right: 1rem;
}

mat-slide-toggle {
  color: white;
  margin-left: 2rem;
  margin-top: 1rem;
}

mat-form-field {
  width: 75%;
}

::ng-deep .mat-form-field {
  .mat-input-element {
    color: white;
  }

  .mat-form-field-label {
    color: white;
  }

  .mat-form-field-underline {
    background-color: white;
    opacity: 0.2;
  }

  .mat-form-field-ripple {
    background-color: white;
  }
}

::ng-deep .mat-form-field.mat-focused {
  .mat-form-field-label {
    color: white;
  }

  .mat-form-field-ripple {
    background-color: white;
  }

  .mat-form-field-underline {
    background-color: white;
    opacity: 1;
  }

  .mat-input-element {
    color: white;
  }
}
