<div class="tile-wrapper">
  <div class="tile-left">
    <img src="../../assets/sogo-full.svg" alt="">
  </div>
  <div class="tile-right">
    <mat-icon class="input-icon" style="color: white">person</mat-icon>
    <mat-form-field>
      <mat-label>Benutzername</mat-label>
      <input matInput>
    </mat-form-field>
    <br>
    <mat-icon class="input-icon" style="color: white">vpn_key</mat-icon>
    <mat-form-field>
      <mat-label>Passwort</mat-label>
      <input matInput>
    </mat-form-field>
    <br>
    <mat-slide-toggle>Speichern</mat-slide-toggle>
    <br>
    <div class="fab-wrapper">
      <button mat-fab (click)="router.navigate(['/'])">
        <mat-icon style="color: white">keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </div>
</div>
