<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" [(opened)]="open" *ngIf="router.url !== '/login'">
    <div class="top">
      <mat-icon style="color: white">person</mat-icon>
      <div class="under">
        <div class="texts">
          <p>Bianca Wege</p>
          <p>bianca.wege@rwu.de</p>
        </div>
        <mat-icon routerLink="/login" style="color: white; cursor: pointer">settings_power</mat-icon>
      </div>
    </div>

    <ul>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a (click)="navService.setNavState(false)" routerLink="/">
          <mat-icon>home</mat-icon>
          Überblick
        </a>
      </li>
      <li routerLinkActive="active">
        <a (click)="navService.setNavState(false)" routerLink="/grades">
          <mat-icon>school</mat-icon>
          Noten
        </a>
      </li>
      <li routerLinkActive="active">
        <a (click)="navService.setNavState(false)" routerLink="/history">
          <mat-icon>show_chart</mat-icon>
          Studienverlauf
        </a>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a (click)="navService.setNavState(false)" routerLink="/immersion">
          <mat-icon>swap_horiz</mat-icon>
          Vertiefungsrichtung
        </a>
      </li>
      <li routerLinkActive="active">
        <a (click)="navService.setNavState(false)" routerLink="/downloads">
          <mat-icon>play_for_work</mat-icon>
          Downloads
        </a>
      </li>
    </ul>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
