mat-sidenav-container {
  height: 100vh;
}

mat-sidenav {
  width: 250px;
}

a {
  color: black;
  text-decoration: none;
}

.active {
  a {
    color: #6638B6;
  }
}

.top {
  background-color: #6638B6;
  height: 68px;
  padding: 1rem 1.5rem;


  .under {
    display: flex;
    justify-content: space-between;

    .texts {
      display: flex;
      flex-direction: column;

      p:first-of-type {
        font-size: 0.875rem;
      }
    }
  }

  p {
    color: white;
    margin: 0;
    font-size: 0.75rem;
  }
}

ul {
  margin-top: 3rem;
  list-style: none;
  padding: 0 1rem;

  li {
    margin-bottom: 2rem;
    font-size: 0.875rem;

    mat-icon {
      transform: translateY(0.25rem);
      margin-right: 0.75rem;
    }
  }
}
