.wrapper {
  display: grid;
  grid-template-columns: 3fr 2fr 4fr;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  padding: 2rem 1.5rem;

  @media(max-width: 768px) {
    grid-template-columns: 1fr;
    grid-row-gap: 2rem;
    padding: 2rem 1.5rem 5rem;
  }
}

.card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  background-color: white;

  ul {
    margin: 0;
    padding-left: 0;
  }

  li {
    display: grid;
    grid-template-columns: 5fr 1fr;
    margin-bottom: 0;

    &:first-of-type {
      p {
        margin-top: 1rem;
      }

      .grade {
        padding-top: 1rem;
      }
    }
  }
}

.header {
  background-color: #00A9CE;
  color: white;
  font-weight: bold;
  font-size: 1.125rem;
  padding: 1rem;

  &.light {
    background-color: white;
    color: black;
    font-size: 1.5rem;
    padding: 0 0 1.5rem;
  }

  &.grid {
    display: grid;
    grid-template-columns: 5fr 1fr;
    padding: 0;
  }

  .left {
    padding: 1rem;
  }

  .right {
    background-color: #05C3DE;
    text-align: center;
    padding: 1rem;
    font-weight: normal;
    font-size: 0.875rem;
  }
}

.first {

  .body {
    padding: 0;
  }

  p {
    padding-left: 1rem;
    margin: 0 0 1rem;
  }

  .grade {
    padding: 0 1rem 0.5rem;
    text-align: center;
    background-color: #EFF4F5;
  }
}

.second {
  background-color: white;

  ul {
    list-style: none;
    padding: 1rem;
    margin: 0;

    li {
      margin-bottom: 1rem;
    }
  }
}

.third {
  grid-column: 3;
  grid-row: 1 /span 2;
  @media(max-width: 768px) {
    grid-column: auto;
    grid-row: auto;
  }

  .body {
    padding: 0;
  }

  p {
    padding-left: 1rem;
    margin: 0 0 1rem;
  }

  .grade {
    padding: 0 1rem 0.5rem;
    text-align: center;
    background-color: #EFF4F5;
  }

  li:last-of-type {
    mat-form-field {
      padding-left: 1rem;
      width: 50%;
    }
  }
}

.fourth {
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 1rem;
  @media(max-width: 768px) {
    grid-column: auto;
  }

  .body {
    display: flex;

    @media(max-width: 768px) {
      flex-direction: column;
      align-items: center;

      .blue-card {
        margin-bottom: 1rem;
        margin-right: 0;
      }
    }
  }

  .blue-card {
    background-color: #00A9CE;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    padding: 2rem 0;
    margin-right: 2rem;


    h1,p {
      margin: 0 0 0.5rem;
    }
  }
}
