<app-header></app-header>
<div class="wrapper" (click)="navService.setNavState(false)">
  <div class="card first">
    <div class="header grid">
      <div class="left">
        Neuste Noten
      </div>
      <div class="right">
        Note
      </div>
    </div>
    <ul class="body">
      <li>
        <p>Fotografie</p>
        <div class="grade">
          1,0
        </div>
      </li>
      <li>
        <p>Fotografie</p>
        <div class="grade">
          1,0
        </div>
      </li>
      <li>
        <p>Fotografie</p>
        <div class="grade">
          1,0
        </div>
      </li>
      <li>
        <p>Fotografie</p>
        <div class="grade">
          1,0
        </div>
      </li>
    </ul>

  </div>
  <div class="card second">
    <div class="header">
      Angemeldete Prüfungen
    </div>
    <ul>
      <li>Interaction Design</li>
      <li>Programmieren Praktikum</li>
      <li>Präsentationstechniken</li>
    </ul>

  </div>
  <div class="card third">
    <div class="header">
      ToDos
    </div>

    <ul class="body">
      <li>
        <p>Fotografie</p>
        <div class="grade">
          <mat-checkbox color="primary"></mat-checkbox>
        </div>
      </li>
      <li>
        <p>Fotografie</p>
        <div class="grade">
          <mat-checkbox color="primary"></mat-checkbox>
        </div>
      </li>
      <li>
        <p>Fotografie</p>
        <div class="grade">
          <mat-checkbox color="primary"></mat-checkbox>
        </div>
      </li>
      <li>
        <mat-form-field>
          <mat-label>ToDo eingeben</mat-label>
          <input matInput>
        </mat-form-field>
      </li>
    </ul>
  </div>


  <div class="card fourth">
    <div class="header light">
      Leistungsüberblick
    </div>
    <div class="body">
      <div class="blue-card">
        <h1>1,9</h1>
        <p>Notendurchschnitt</p>
      </div>
      <div class="blue-card">
        <h1>120/210</h1>
        <p>Erreichte Credits</p>
      </div>
    </div>
  </div>
</div>

