<app-header></app-header>
<div class="wrapper" (click)="navService.setNavState(false)">
  <div class="card">
    <div class="header">
      Downloads
    </div>
    <div class="content">
      <div class="item">
        <div class="text">
          Immatrikulationsbescheinung
        </div>
        <div class="icon">
          <mat-icon>play_for_work</mat-icon>
        </div>
      </div>

      <div class="item">
        <div class="text">
          Immatrikulationsbescheinung nach
          §9 Bafög
        </div>
        <div class="icon">
          <mat-icon>play_for_work</mat-icon>
        </div>
      </div>

      <div class="item">
        <div class="text">
          SPO (spezieller Teil)
        </div>
        <div class="icon">
          <mat-icon>play_for_work</mat-icon>
        </div>
      </div>

      <div class="item">
        <div class="text">
          SPO (allgemeiner Teil)
        </div>
        <div class="icon">
          <mat-icon>play_for_work</mat-icon>
        </div>
      </div>

      <div class="item">
        <div class="text">
          Prüfungsplan SoSe 2019
        </div>
        <div class="icon">
          <mat-icon>play_for_work</mat-icon>
        </div>
      </div>

      <div class="item">
        <div class="text">
          Notenspiegel
        </div>
        <div class="icon">
          <mat-icon>play_for_work</mat-icon>
        </div>
      </div>

    </div>
  </div>
</div>
