.wrapper {
  padding: 2rem 1.5rem;
  max-width: 1440px;
  margin: 0 auto;

  @media(max-width: 768px) {
    padding: 2rem 1.5rem 5rem;
  }
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.4);
}

.content {
  padding: 1rem;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 4rem;
  grid-row-gap: 1rem;
  grid-auto-flow: column;

  @media(max-width: 768px) {
    grid-template-columns: 1fr;
    grid-auto-flow: initial;
  }
}

.header {
  background-color: #00A9CE;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
  border-radius: 2px;
}

.item {
  display: flex;
  box-shadow: 0 1px 3px rgba(0,0,0,0.4);
  border-radius: 7px;
  justify-content: space-between;
  overflow: hidden;
}

.text {
  display: flex;
  align-items: center;
  padding: 1rem;
  @media(max-width: 768px) {
    word-break: break-word;
  }
}

.icon {
  background-color: #00A9CE;
  padding: 0.75rem 1.5rem;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  @media(max-width: 768px) {
    padding: 0.75rem;
  }
  mat-icon {
    font-size: 2.5rem;
    width: 100%;
    height: 100%;
  }
}
