/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Barlow Semi Condensed, "Helvetica Neue", sans-serif; }

button, h1, h2, h3, p {
  font-family: Barlow Semi Condensed, "Helvetica Neue", sans-serif !important;
}
