<app-header></app-header>
<div class="wrapper" (click)="navService.setNavState(false)">
  <h2>Grundstudium</h2>
  <div class="grund">
    <div class="card">
      <table>
        <tr>
          <th>1. Semester</th>
          <th>N</th>
          <th>Cr</th>
          <th>Status</th>
        </tr>
        <tr>
          <td>Fotografie</td>
          <td>-</td>
          <td>10</td>
          <td>NA</td>
        </tr>
        <tr>
          <td>Grundlagen der Gestaltung</td>
          <td>1,5</td>
          <td>5</td>
          <td>BE</td>
        </tr>
        <tr>
          <td>Film</td>
          <td>5,0</td>
          <td>10</td>
          <td>NB</td>
        </tr>
        <tr>
          <td>Interaction Design</td>
          <td>-</td>
          <td>-</td>
          <td>NA</td>
        </tr>
        <tr>
          <td>Programmieren 1</td>
          <td>-</td>
          <td>-</td>
          <td>NA</td>
        </tr>
        <tr>
          <td>Programmieren Praktikum</td>
          <td>-</td>
          <td>-</td>
          <td>NA</td>
        </tr>
      </table>
    </div>

    <div class="card">
      <table>
        <tr>
          <th>2. Semester</th>
          <th>N</th>
          <th>Cr</th>
          <th>Status</th>
        </tr>
        <tr>
          <td>Fotografie</td>
          <td>-</td>
          <td>10</td>
          <td>NA</td>
        </tr>
        <tr>
          <td>Grundlagen der Gestaltung</td>
          <td>1,5</td>
          <td>5</td>
          <td>BE</td>
        </tr>
        <tr>
          <td>Film</td>
          <td>5,0</td>
          <td>10</td>
          <td>NB</td>
        </tr>
        <tr>
          <td>Interaction Design</td>
          <td>-</td>
          <td>-</td>
          <td>NA</td>
        </tr>
      </table>
    </div>

    <div class="card">
      <table>
        <tr>
          <th>3. Semester</th>
          <th>N</th>
          <th>Cr</th>
          <th>Status</th>
        </tr>

        <tr>
          <td>Mathe für Designer</td>
          <td>-</td>
          <td>10</td>
          <td>NA</td>
        </tr>

        <tr>
          <td>Grundlagen der Gestaltung</td>
          <td>1,5</td>
          <td>5</td>
          <td>BE</td>
        </tr>

        <tr>
          <td>Film</td>
          <td>5,0</td>
          <td>10</td>
          <td>NB</td>
        </tr>

        <tr>
          <td>Interaction Design</td>
          <td>-</td>
          <td>-</td>
          <td>NA</td>
        </tr>
        <tr>
          <td>Webentwicklung 1</td>
          <td>-</td>
          <td>-</td>
          <td>NA</td>
        </tr>
      </table>
    </div>
  </div>
  <h2>Grundstudium</h2>
  <div class="haupt">
    <div class="card">
      <table>
        <tr>
          <th>4. Semester</th>
          <th>N</th>
          <th>Cr</th>
          <th>Status</th>
        </tr>
        <tr>
          <td>Fotografie</td>
          <td>-</td>
          <td>10</td>
          <td>NA</td>
        </tr>
        <tr>
          <td>Grundlagen der Gestaltung</td>
          <td>1,5</td>
          <td>5</td>
          <td>BE</td>
        </tr>
        <tr>
          <td>Film</td>
          <td>5,0</td>
          <td>10</td>
          <td>NB</td>
        </tr>
        <tr>
          <td>Interaction Design</td>
          <td>-</td>
          <td>-</td>
          <td>NA</td>
        </tr>
        <tr>
          <td>Programmieren 1</td>
          <td>-</td>
          <td>-</td>
          <td>NA</td>
        </tr>
        <tr>
          <td>Programmieren Praktikum</td>
          <td>-</td>
          <td>-</td>
          <td>NA</td>
        </tr>
      </table>
    </div>

    <div class="card">
      <table>
        <tr>
          <th>5. Semester</th>
          <th>N</th>
          <th>Cr</th>
          <th>Status</th>
        </tr>
        <tr>
          <td>Praxissemester</td>
          <td>-</td>
          <td>30</td>
          <td>NA</td>
        </tr>
      </table>
    </div>

    <div class="card">
      <table>
        <tr>
          <th>6. Semester</th>
          <th>N</th>
          <th>Cr</th>
          <th>Status</th>
        </tr>
        <tr>
          <td>Fotografie</td>
          <td>-</td>
          <td>10</td>
          <td>NA</td>
        </tr>
        <tr>
          <td>Grundlagen der Gestaltung</td>
          <td>1,5</td>
          <td>5</td>
          <td>BE</td>
        </tr>
        <tr>
          <td>Film</td>
          <td>5,0</td>
          <td>10</td>
          <td>NB</td>
        </tr>
        <tr>
          <td>Interaction Design</td>
          <td>-</td>
          <td>-</td>
          <td>NA</td>
        </tr>
        <tr>
          <td>Programmieren 1</td>
          <td>-</td>
          <td>-</td>
          <td>NA</td>
        </tr>
        <tr>
          <td>Programmieren Praktikum</td>
          <td>-</td>
          <td>-</td>
          <td>NA</td>
        </tr>
      </table>
    </div>

    <div class="card">
      <table>
        <tr>
          <th>7. Semester</th>
          <th>N</th>
          <th>Cr</th>
          <th>Status</th>
        </tr>
        <tr>
          <td>Fotografie</td>
          <td>-</td>
          <td>10</td>
          <td>NA</td>
        </tr>
        <tr>
          <td>Grundlagen der Gestaltung</td>
          <td>1,5</td>
          <td>5</td>
          <td>BE</td>
        </tr>
        <tr>
          <td>Film</td>
          <td>5,0</td>
          <td>10</td>
          <td>NB</td>
        </tr>
        <tr>
          <td>Interaction Design</td>
          <td>-</td>
          <td>-</td>
          <td>NA</td>
        </tr>
      </table>
    </div>
  </div>
  <h2>Wahlfächer</h2>
  <div class="wahl">
    <div class="card">
      <table>
        <tr>
          <th></th>
          <th>N</th>
          <th>Cr</th>
          <th>Status</th>
        </tr>
        <tr>
          <td>Fotografie</td>
          <td>-</td>
          <td>10</td>
          <td>NA</td>
        </tr>
        <tr>
          <td>Grundlagen der Gestaltung</td>
          <td>1,5</td>
          <td>5</td>
          <td>BE</td>
        </tr>
        <tr>
          <td>Film</td>
          <td>5,0</td>
          <td>10</td>
          <td>NB</td>
        </tr>
        <tr>
          <td>Interaction Design</td>
          <td>-</td>
          <td>-</td>
          <td>NA</td>
        </tr>
      </table>
    </div>
    <div class="legend">
      <div>
        <p>Legende</p>
        <p>NA: nicht angemeldet</p>
        <p>AN: angemeldet</p>
        <p>BE: bestanden</p>
        <p>NB: nicht bestanden</p>
        <p>EN: endgültig nicht</p>
      </div>
    </div>
  </div>
</div>
