.wrapper {
  padding: 2rem 1.5rem;

  @media(max-width: 768px) {
    padding: 2rem 1.5rem 5rem;
  }
}

h2 {
  margin-top: 0;
  color: #00A9CE;
}

.grund, .haupt, .wahl {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.5rem;
  min-height: 0;
  min-width: 0;
  margin-bottom: 2rem;

  @media(max-width: 967px) {
    grid-template-columns: 1fr 1fr;
  }

  @media(max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.legend {
  grid-column: 3 /span 1;
  align-self: end;
  display: flex;
  justify-content: flex-end;
  @media(max-width: 768px) {
    grid-column: 1 /span 1;
  }

  p {
    margin: 0;
    color: #707070;
    font-size: 0.75rem;
  }
}


table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: none;
}

tr {
  width: 100%;
}

th {
  background-color: #05C3DE;
  color: white;
  padding: 1rem;

  &:first-of-type {
    background-color: #00A9CE;
    font-weight: bold;
    text-align: left;
    font-size: 1.25rem;
  }
}

td {
  background-color: #EFF4F5;
  padding: 0.75rem 1rem;

  &:first-of-type {
    background-color: white;
  }
}

.card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.4);
  align-self: start;
}
