<app-header></app-header>
<div class="wrapper" (click)="navService.setNavState(false)">
  <div class="card">
    <div class="header">
      Vertiefungsrichtung wählen
    </div>
    <p>Bitte wähle für dein Hauptstudium einen Schwerpunkt:</p>
    <div class="content">
      <div class="profiles">
        <div class="profile">
          <table>
            <tr>
              <th>Profil Spiele</th>
              <th>
              </th>
            </tr>
            <tr>
              <td>
                Hier werden Studierende in die Technologien eingeführt, die hinter dem Erstellen von
                Spielen/AR/VR-Anwendungen, aber auch Computer generierten Effekten in Filmen stecken.
              </td>
              <td>
                <mat-radio-button color="primary" value="1"></mat-radio-button>
              </td>
            </tr>
          </table>
        </div>

        <div class="profile">
          <table>
            <tr>
              <th>Profil Robotik & Smart Devices</th>
              <th></th>
            </tr>
            <tr>
              <td>
                Am Institut für Künstliche Intelligenz der RWU werden intelligente lernfähige Algorithmen und Systeme
                entwickelt. Deep Learning ist ein Schwerpunkt der Forschung. Die Anwendungen reichen von Servicerobotik
                und
                Pflegewesen über Bildverarbeitung und Objekterkennung bis hin zu lernfähiger Diagnose von Maschinen.
              </td>
              <td>
                <mat-radio-button color="primary" value="2"></mat-radio-button>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="btn-wrapper">
        <button mat-raised-button>Wählen</button>
      </div>
    </div>
  </div>
</div>
