.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem 1.5rem;

  @media(max-width: 768px) {
    padding: 2rem 1.5rem 5rem;
  }
}

.card, .profile {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  overflow: hidden;

  p {
    margin-left: 2rem;
    margin-top: 2rem;
    @media(max-width: 768px) {
      margin-left: 1rem;
    }
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: none;
}

.header {
  background-color: #00A9CE;
  padding: 1rem;
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
}

.content {
  padding: 1rem 2rem 2rem;
  display: flex;

  @media(max-width: 768px) {
    flex-direction: column;
    padding: 1rem;
  }
}

th {
  background-color: #00A9CE;
  padding: 0.75rem 1rem;
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: left;

  &:nth-of-type(2) {
    background-color: #05C3DE;
    padding: 0.75rem 1rem;
    width: 15%;
  }
}

td {
  padding: 1.25rem 1rem;

  &:nth-of-type(even) {
    text-align: center;
    background-color: #EFF4F5;
  }
}

.profile {
  margin-bottom: 2rem;
  margin-right: 2rem;

  @media(max-width: 768px) {
    margin-right: 0;
  }
}

.profiles {
  margin-bottom: 2rem;
  @media(max-width: 768px) {
    margin-bottom: 0;
  }
}

.btn-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

button {
  background-color: #6638B6;
  text-transform: uppercase;
  color: white;
}
